.button--primary {
  font-family: $poppins;
  font-size: $medium;
  color: $charcoal;
  height: 2.2em;
  border-radius: 7px;
  border: 2px solid gray;
  background-color: $orange;
  margin-left: 0.25em;
  margin-top: 0.25em;
  &:hover {
    background-color: $clearwhite;
  }
}