.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 1fr;
  grid-template-areas: "footer__header" "footer__content";
  background-color: $darkblack;
  color: $clearwhite;
  padding: 1.5em;
  text-align: center;
  &__header {
    grid-area: footer__header;
  }
  &__content {
    grid-area: footer__content;
  }
}

.footer__content p,
.footer__header p {
  font-family: $poppins;
}

@include respond-to("md") {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "footer__header footer__content";
    &__info {
      display: flex;
    }
    &__info-item {
      padding: 0 1em;
    }
    &__content {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
    }
    &__interaction {
      display: flex;
    }
  }
}
